<div class="container">
  <h2>予約済ルーム一覧</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ルーム画像</th>
        <th scope="col">ルーム名</th>
        <th scope="col">ルーム紹介</th>
        <th scope="col">合計料金</th>
        <th scope="col">開始日</th>
        <th scope="col">終了日</th>
        <th scope="col">予約確定日時</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% if @reservations %>
          <% @reservations.rental.each do |reservation rental| %>
            <td><img class="room_icon" src="<%= "/images/room_images/#{reservation.rental.room_image}" %>"></td>
            <td><%= link_to( reservation.rental.room, "/rentals/#{reservation.rental.id}" ) %></td>
            <td><%= reservation.rental.description %></td>
            <td><%= reservation.rental.price %></td>
            <td><%= reservation.rental.created_at %></td>
          <% end %>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>