<div class="container">
  <div class="container d-flex mt-5 justify-content-center ">
    <div class= "show_image col-6 h-50">
      <%= image_tag @rental.image %>
    </div>
    <div class="description_container">
      <h2 class="mt-4">予約した部屋</h2>
      <dl>
        <dt>予約した部屋</dt>
        <dd><%= @rental.room %></dd>
        <dt>開始日</dt>
        <dd><%= @reservation.check_in %></dd>
        <dt>終了日</dt>
        <dd><%= @reservation.check_out %></dd>
        <dt>価格</dt>
        <dd><%= @reservation.total %>円</dd>
      </dl>
    </div>
  </div>
</div>
